:root {
    --dark-gray-color: #505050;
    --light-gray-color: #777777;
    --turquoise-color: #8be9e1;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.container-center {
    margin: 20px auto;
    /* padding: 0 10px; */
    max-width: 1024px;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #fff;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}



.header {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    /* height: 70px; */
    /* z-index: 10; */
    /* align-items: center; */
    background-color: var(--dark-gray-color);
}

.header__container {
    /* max-width: 1024px; */
    margin: 0 auto;
    display: flex;
    padding: 0 30px;
    min-height: 70px;
    flex-direction: column;
    justify-content: space-around;
}

/* .header__menu {

} */

.menu__icon {
    display: none;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu__link {
    text-decoration: none;
    color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 20px;
    transition: 1s;
}

.menu__link:hover {
    color: var(--dark-gray-color);
    background-color: #8be9e1;
    transition: 0.5s;
}

.two-columns {
    display: flex;
}

.left-column {
    width: 45%;
    color: var(--dark-gray-color);
    background-color: var(--turquoise-color);
}

.right-column {
    width: 55%;
    padding: 0px 40px 40px 100px;
}

.user {
    padding: 30px;
    text-align: center;
    background-color: #fff;
}

.user img {
    margin-bottom: 10px;
    border: 10px solid var(--turquoise-color);
    border-radius: 50%;
}

.user h1 {
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.user h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
}

main {
    padding: 0 40px;
}

main h3 {
    width: 136px;
    margin: 40px auto 20px;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background-color: var(--dark-gray-color);
}

main .contacts h3 {
    margin-top: 0;
    margin-bottom: 0;
    transform: translate(0, -50%);
}

main li {
    margin-bottom: 10px;
}

.contacts li img {
    vertical-align: middle;
    margin-right: 15px;
    color: #fff;
}

.contacts li p  {
    display: inline;
    vertical-align: middle;
}

.contacts a {
    text-decoration: none;
    color: var(--dark-gray-color);
}

main :not(.contacts) ul {
    list-style-type: disc;
    margin-left: 50px;
}

.languages {
    margin-bottom: 70px;
}

.language-name {
    font-weight: 700;
    text-transform: uppercase;
}

.right-column .sub-header {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
}

.about-myself p {
    margin-bottom: 10px;
    margin-left: 45px;
}

.about-myself p:last-of-type {
    margin-bottom: 0;
}

.right-column h3 {
    flex: 1;
    vertical-align: middle;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--light-gray-color);
    border-bottom: 2px solid var(--light-gray-color);
}

.right-column img {
    vertical-align: middle;
    margin-right: 15px;
}

.right-column p {
    color: var(--light-gray-color);
}

.education p {
    margin-left: 45px;
}

.education p strong {
    font-weight: 700;
}

.courses ul {
    list-style-type: disc;
    margin-left: 45px;
    margin-bottom: 30px;
}

.courses li {
    margin-bottom: 10px;
    color: var(--light-gray-color);
}

.code-example p {
    text-align: center;
    margin-left: 45px;
    margin-bottom: 20px;
}

.code {
    display: flex;
    margin-left: 45px;
}

pre {
  margin-left: 10px;
  padding-left: 40px;
  font-family: monospace;
  font-size: 0.9rem;
  background-color: #f5f5f5;
}

.project__item {
    text-align: center;
}

.project__link {
    margin-left: 115px;
    display: block;
    /* text-align: center; */
    position: relative;
    width: 371px;
    height: 200px;
    border-radius: 10px;
    transition: 0.5s;
}

.project__img {
    cursor: pointer;
    text-align: center;
    width: 371px;
    height: 200px;
    object-fit: cover;
    /* position: absolute; */
    border-radius: 10px;
    background-color: #000;
    /* opacity: 1.5; */
}

.project__link:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

.project__content {
    position: absolute;
    bottom: 3px;
    left: 10px;
    text-align: left;
}

.project__content h4 {
    color: brown;
}

.project__content p {
    color: #f5f5f5;
}


/* --------------------------------- */
/*              Footer               */
/* --------------------------------- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 0.8rem;
    color: #fff;
    background-color: var(--dark-gray-color);
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer .github-icon {
    margin-right: 10px;
}

.my-github {
    display: flex;
    align-items: center;
}

/* --------------------------------- */
/*              Footer               */
/* --------------------------------- */






/* CSS Mobile */

@media (max-width: 1200px) {
    .container-center {
        max-width: 970px;
    }

    .right-column {
        /* padding: 0px 40px 40px 0px; */
        padding-left: 60px;
    }
    
    .main {
        padding: 0 30px;
    }

    .code {
        margin-left: 5px;
    }
}

@media (max-width: 1024px) {
    .container-center {
        max-width: 767px;
    }

    .right-column {
        padding: 0px 30px 40px 40px;
    }
    
    .main {
        padding: 0 20px;
    }

    .code {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .code-block {
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        margin-left: 0px;
    }

    .code img {
        margin-left: 100px;
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }

    .project__link {
        margin-left: 5px;
    }
}

@media (max-width: 850px) {
    .container-center {
        max-width: 650px;
    }

    .right-column {
        padding: 0px 10px 40px 10px;
    }

    .right-column h3 {
        flex: 0.95;
    }
    
    .main {
        padding: 0 10px;
    }

    .code {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    pre {
        -webkit-transform: scale(0.9);
    }

    .code-block {
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        margin-left: 0px;
    }

    .code img {
        margin-left: 80px;
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }

    .project__link {
        margin-left: 20px;
        -webkit-transform: scale(0.7);
    }

    .project__link:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    }
    
}

@media (max-width: 767px) {
    .container-center {
        max-width: 400px;
    }

    .menu__body {
        margin: 15px 0px;
    }

    .menu__link {
        margin: 15px 0px;
    }

    .menu__list {
        flex-direction: column;
    }

    .two-columns {
        display: flex;
        flex-direction: column;
    }

    .left-column {
        width: 100%;
        
    }

    .main ul {
        margin-left: 80px;
    }

    main :not(.contacts) ul {
        list-style-type: disc;
        margin-left: 100px;
    }

    .right-column {
        width: 90%;
        padding-left: 30px;
    }

    .right-column p {
        margin-left: 0px;
    }

    .main {
        width: 100%;
    }

    .project__link {
        margin-left: 5px;
    }
}

    @media (max-width: 450px) {
    .container-center {
        max-width: 310px;
    }

    .menu__list {
        flex-direction: column;
    }

    .two-columns {
        display: flex;
        flex-direction: column;
    }

    .left-column {
        width: 100%;
        
    }

    .main ul {
        margin-left: 30px;
    }

    .right-column {
        width: 90%;
        padding-left: 30px;
    }

    .right-column p {
        margin-left: 0px;
    }

    .main {
        width: 100%;
    }

    main :not(.contacts) ul {
        list-style-type: disc;
        margin-left: 50px;
    }

    .code img {
        margin-left: 40px;
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }

    pre {
        margin-left: 5px;
        padding-left: 10px;
    }

    .project__link {
        left: -60px;
    }
}


@media (max-width: 767px) {
    .header__container {
        
    }

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0px;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -1px);
    }

    .menu__icon._active {
        margin: 25px 0px ;
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -10px);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -2px);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 2px);
    }

    .menu__body {
        display: none;
        width: 100%;
        height: 100%;
        background-color: #505050;
        margin: 40px 0px 0px 0xp;
        padding: 0;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .hide {
        display: block;
    }

    .menu__list {
        margin-bottom: 10px;
    }

    .menu__link {
        font-size: 24px;
    }
}







/* 
@media (min-width: 1400px) {
    .container-center {
        max-width: 1320px;
    }
}

@media (min-width: 1200px) {
    .container-center {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container-center {
        max-width: 960px;
    }
}
 */